html {
  font-family: "Open Sans", sans-serif;
}

fieldset {
  padding: 0;
}

h1 {
  border-bottom: 1px solid #000;
}

legend {
  padding-right: 1rem;
  display: block;
}

body {
  background-color: #f2f2f2;
}

section {
  background-color: #fff;
}

@media only screen and (min-width: 60em) {

  .space-right {
    padding-right: .5rem;
  }

  .space-left {
    padding-left: .5rem;
  }
}
